
@font-face {
    font-family: 'Museo Sans 300 Light';
    src: url('/fonts/MuseoSansCyrl-300.eot'),
    url('/fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


section {
    /* margin: 0 auto; */
    background: #c5c5c8;
}

.bg-block {
    min-width: 800px;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
/*     background: url("../img/3-layers.png");
    background-repeat: no-repeat;
    background-position: cover; */
}

.card-block {
    width: 686px;
    height: 391px;
    margin: 0 auto;
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
    border-radius: 10px;
    background-color: #111a28;
}

.logo img {
    margin-top: 25px;
    margin-left: 25px;
}

.block-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block-row_1 {
    margin-top: 20px;
}

.block-row_2 h2 {
    width: 170px;
    color: #e1e1e1;
    font-family: "Museo Sans 300 Light";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}

.block-row_2 h3 {
    width: 170px;
    opacity: 0.54;
    color: #e1e1e1;
    font-family: "Museo Sans 300 Light";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}

.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: gold;
}

select {
    width: 69px;
    height: 32px;
    margin-top: 20px;
    border: 1px solid #ffffff;
    background-color: #111a28;
    opacity: 0.7;
    color: #e1e1e1;
    font-family: "Museo Sans 300 Light";
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.btn-addcart {
    width: 184px;
    height: 40px;
    margin-top: 30px;
    border: 1px solid #ffffff;
    background-color: #4c525a;
    opacity: 0.7;
    color: #e1e1e1;
    font-family: "Museo Sans 300 Light";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}
